<div class="row panel">
  <div class="large-11 small-centered columns">
    <h2 class="text-center">Bienvenido a Canchitapp</h2>
    <p class="text-center">Canchitapp te permite guardar las películas vistas, así como guardar tus propias colecciones de películas</p>
  </div>
</div>
<div class="row">
  <div class="large-6 columns"><a href="/auth/facebook" class="button expand">Entrar con Facebook</a></div>
  <div class="large-6 columns"><a href="/auth/twitter" class="button expand">Entrar con Twitter</a></div>
</div>