<div class="row panel">
<h2 class="text-center">Políticas de privacidad</h2>

<p>CanchitApp te permite tener un registro de las películas vistas, utilizando tu cuenta de Facebook. CanchitApp utiliza tu cuenta de Facebook para publicar las películas que ves en tu perfil de usuario, si así lo permite. De esta forma, puedes compartir con tus amigos tus gustos en películas.</p>

<p>CanchitApp no almacena ningún tipo de información personal, excepto tu correo electrónico, solo para uso interno, como notificaciones o boletines. Así mismo, no vendemos tus datos a anunciantes u otros terceros.</p>
</div>