<div id="search-checkin" class="reveal-modal" data-reveal>
  <h3>Buscar película</h3>
  <form id="search_movies">
    <div class="row">
      <div class="large-12 columns">
        <div class="row collapse">
          <div class="small-10 columns">
            <input type="text" id="query" placeholder="Buscar por nombre de película" />
          </div>
          <div class="small-2 columns">
            <input type="submit" class="button postfix" value="Buscar" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <ul id="search_results" class="small-block-grid-2 medium-block-grid-3 large-block-grid-4"></ul>
    </div>
  </form>
</div>